body{
    background-color: #fff7e0cb;
    padding: 00px;
    border: 0px;
    margin: 0px;
}

h3{
    padding: 0px;
    border: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

.hub{
    margin-left: -30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color:#ffc65d;
    text-shadow: 1px 4px 0px #031b2b;

    padding: 10px;
}

.Header{
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: #25344b;
    box-shadow: 0px -4px 0px #031b2b inset;

    padding: 10px;
    border: 0px;
    margin: 0px;
}

.logo{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color:#ffffff;
    text-shadow: 1px 4px 0px #031b2b;

    padding: 10px;
}

.searchbar{
    height: 30px;
    width: 700px;
    width: 50%;
    border-radius: 32px;
    border: none;
    padding-left: 1%;

    margin-left: 11%;
    margin-top: 1%;
}

.account{
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color: #3C5B6F;
    border-radius: 16px;
    box-shadow: -1px 3px 0px #031b2b;

    padding: 10px;
    position: absolute;
    right: 1%;
    top: 2.5%;
    transition-duration: .1s;
}

.account:hover{
    background-color: #283c49;
    transition-duration: .1s;
}

.account:active{
    box-shadow: -2px 3px 0px #031b2b inset; 
} 

.Tab{
    padding: 20px;
    padding-top: 75px;
    margin-left: 0px;
    display:block;
    background-color: #192730;
    width: 169px;
    height: 742px;
    position: relative;
}

.links{
    margin-top: 3px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #e7e7e7;
    font-weight: 100;
    line-height: 30px;
    padding: 3px;
    margin-left: 3px;
    transition: .2s;
}

.links:hover{
    color: #222222;
    text-decoration: underline;
    background-color: #ffffff;
    transition: .2s;
    border-radius: 4px;
}

.img{
    height: 25px;
}

.cu{
    display: flex;
    flex:1;
    align-items: center;
    transition: .2s;
}



.Main{
    display: flex;
}

.main{
    display: flex;
    flex: 1;
    gap: 20px;
    flex-direction: row;
    min-width: 100px;
    flex-wrap:wrap;
    margin: 30px;
    margin-left: 45px;
}

.tarefa{
    background-color: rgb(228, 228, 228);
    margin: 0px;
    height: 300px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: -4px 4px 0px rgb(215, 215, 215);
    transition-duration: 0.1s;
}

.tarefa:hover{
    height: 330px;
    width: 330px;   
    margin: -15px;
    transition-duration: 0.2s;

}

.tarefatit{
    padding: 10px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: rgb(82, 82, 82);
    margin-bottom: 15px;
    background-color: #ffd69d;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow:  0px 4px 0px rgb(215, 215, 215) ;
}

.tarefacont{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-align: left;
    padding-left: 8px;
    padding: 10px;
}

.Bottom{
    background-color: #25344b;
    width: 3000px;
    height: 35px;
    box-shadow: 0px 4px 0px inset #031b2b;
    display: flex;


    position: fixed;
    bottom: 0%;
    right: 0%;
    justify-content: end;
}

.bottom{
    color: #e7e7e7;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 11px;
    margin-right: 4px;
    font-weight:lighter;
    font-size: 13px;
}